
#pic {
    float:left;
    padding-top:20px;
    padding-right:20px;
  }
#descr {
    padding-top:20px;
    text-align:justify;
 }
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align:left;
    background-color: rgb(201, 201, 201);
    color: rgb(60, 60, 129);
    margin: 50px;
    padding: 50px;
 }
 header, footer { 
     font-size: 22px; 
     text-align: center;
 }

 footer {
    margin-top: 50px;
 }
 h2 {
    text-align: center;
 }

 a:link, a:visited {
     color: darkcyan;
     text-decoration:none;
 }

 a:hover{
	text-shadow: 0 0 1px;
    color:rgb(112, 103, 170);
 }

 .accordion {
    padding-top: 75px;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 1px;
 }
 .accordion-button {
    font-size: 22px;
    background-color: lightsteelblue;
 }
.accordion-button:hover {
    text-shadow: 0 0 1px;
    color: whitesmoke;
    background-color:rgb(112, 103, 170);
}

 .accordion-item {
    margin-top: 5px;
    font-size: 22px;
    text-shadow: none;
    text-align: left;
 }
 #contact {
    text-shadow: 0 0 1px;
    font-size: 30px;
 }
